<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063722756869-prjbtps3r65bd4jfopudc9vutb5nqtc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063722756869-prjbtps3r65bd4jfopudc9vutb5nqtc3</string>
	<key>API_KEY</key>
	<string>AIzaSyCNsl-q7ovcTXsLvCamqSGpx0eSA-rWnxk</string>
	<key>GCM_SENDER_ID</key>
	<string>1063722756869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safewalkapp.SafeWalk</string>
	<key>PROJECT_ID</key>
	<string>safewalk-b378b</string>
	<key>STORAGE_BUCKET</key>
	<string>safewalk-b378b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063722756869:ios:6c9eedda1c51c2b90f256c</string>
	<key>DATABASE_URL</key>
	<string>https://safewalk-b378b.firebaseio.com</string>
</dict>
</plist>